body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: auto;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

#message {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 8px;
    display: none;
    z-index: 10;
}

#gameover {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 8px;
    display: none;
    z-index: 10;
}

#popup-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;    
}

.popup-button {
    background-color: #6aaa64;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.popup-button:hover {
    background-color: #6aaa64;
}


.tile {
    /* Box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6aaa64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.key-tile {
    /* Box */
    border: 1px solid lightgrey;
    width: 36px;
    height: 40px;
    margin: 1px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    /* Box */
    border: 1px solid lightgrey;
    width: 76px;
    height: 40px;
    margin: 1px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

